# **Exercícios de Python**

Esta é uma lista de exercícios sobre Listas e Dicionários em Python, a qual  visa ajudar-los a aprender e praticar operações de lista e dicionários para melhorar seu conhecimento Python. Todas as perguntas são testadas em Python 3. 

Os seguintes tópicos sobre listas são apresentados:

* Operações e manipulações da lista Python
* Funções de lista Python
* Slicing da lista Python
* Compreensão da lista Python
* Operações e manipulações de dicionário Python
* Funções de dicionário Python
* Compreensão do dicionário Python 

Caso tenha algum dúvida, entrar em contato: souza.m.allan@gmail.com

# **Listas**

## **Inverta a sequência de um lista**

In [122]:
lista_00 = [100, 200, 300, 400, 500]

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [123]:
'''SOLUÇÃO 1'''

lista_00_new = []
for i in range(len(lista_00), 0, -1):
  lista_00_new.append(lista_00[i-1])  

print(lista_00_new)

[500, 400, 300, 200, 100]

In [124]:
'''SOLUÇÃO 2'''

lista_00_new_lambda = map(lambda x: lista_00[x], range(len(lista_00)-1, -1, -1))

list(lista_00_new_lambda)

[500, 400, 300, 200, 100]

In [125]:
'''SOLUÇÃO 3'''

sorted(lista_00, reverse=True)

[500, 400, 300, 200, 100]

In [126]:
'''SOLUÇÃO 4'''

import numpy as np

lista_00_np = np.array(lista_00)
lista_00_np
lista_00_np[::-1].sort()

lista_00_np

array([500, 400, 300, 200, 100])

##### Resultado esperado:
<pre>
[500, 400, 300, 200, 100]
</pre>

## **Concatene duas listas pelos índices**

In [127]:
lista_01 = ['E', 'm', 'cha', 'Jo']
lista_02 = ['u', 'e', 'mo', 'ão']

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [128]:
'''SOLUÇÃO 1'''

lista_sum = []
for i in range(4):
  val = lista_01[i] + lista_02[i]
  lista_sum.append(val)
lista_sum

['Eu', 'me', 'chamo', 'João']

In [129]:
'''SOLUÇÃO 2'''

lista_sum_lambda = map(lambda x: lista_01[x] + lista_02[x], range(0, 4, 1))

list(lista_sum_lambda)

['Eu', 'me', 'chamo', 'João']

In [130]:
'''SOLUÇÃO 3'''

c = 0
lista_sum_while = []
while c < 4:
  lista_sum_while.append(lista_01[c] + lista_02[c])
  c += 1

lista_sum_while

['Eu', 'me', 'chamo', 'João']

##### Resultado esperado:
<pre>
['Eu', 'me', 'chamo', 'João']
</pre>

## **Dada uma lista de números. Transforme cada item da lista em seu quadrado**

In [131]:
lista_03 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [132]:
'''SOLUÇÃO 1'''

lista_sqrt = []
for i in range(len(lista_03)):
  lista_sqrt.append(lista_03[i]**2)
lista_sqrt

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [133]:
'''SOLUÇÃO 2'''

lista_sqrt_lambda = map(lambda x: lista_03[x]**2, range(len(lista_03)))

list(lista_sqrt_lambda)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [134]:
'''SOLUÇÃO 3'''

import numpy as np

lista_03_sqrt = np.array(lista_03)

lista_03_sqrt_final = lista_03_sqrt**2

lista_03_sqrt_final

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [135]:
'''SOLUÇÃO 4'''

squared = map(lambda x: pow(x,2), lista_03)
list(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### Resultado esperado:
<pre>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
</pre>

## **Dada duas listas. Itere sobre elas simultaneamente, de modo que a lista_04 exiba os itens na ordem original e a lista_05 na ordem inversa**

In [136]:
lista_04 = [10, 20, 30, 40, 50]
lista_05 = [100, 200, 300, 400, 500]

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [137]:
'''SOLUÇÃO 1'''

for x,y in zip(range(len(lista_04)), range(len(lista_05)-1, -1, -1)):
  print(lista_04[x], lista_05[y])

10 500
20 400
30 300
40 200
50 100

In [138]:
'''SOLUÇÃO 2'''

list_05_new = sorted(lista_05, reverse=True)

lista_combo_lambda = lambda x,y : [(x[i], y[i]) for i in range(5)]

final_value = lista_combo_lambda(lista_04, list_05_new)
for i in range(len(final_value)):
  print(final_value[i])

(10, 500)
(20, 400)
(30, 300)
(40, 200)
(50, 100)

##### Resultado esperado:
<pre>
10 500
20 400
30 300
40 200
50 100
</pre>

## **Remova a string vazia da listas de strings**

In [141]:
lista_06 = ['José', 'Maria', 'Paulo', '', 'Pedro', '', 'Ana']

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [140]:
'''SOLUÇÃO 1'''
space = []
for i in range(len(lista_06)):
  if lista_06[i] == '':
    space.append(i)
if len(space) > 1:
  c = 0
  for j in range(len(space)):
    lista_06.pop(space[j] - c)
    c += 1

print(lista_06)

['José', 'Maria', 'Paulo', 'Pedro', 'Ana']

In [142]:
'''SOLUÇÃO 2'''

lista_06_new = filter(lambda x: x != '', lista_06)   

print(list(lista_06_new))

['José', 'Maria', 'Paulo', 'Pedro', 'Ana']

##### Resultado esperado:
<pre>
['José', 'Maria', 'Paulo', 'Pedro', 'Ana']
</pre>

## **Adicione o número 7000 após o número 6000 na seguinte lista**

In [172]:
list_07 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [144]:
'''SOLUÇÃO 1''' #ERRADA pois foi feito o flatten na list, primeira tentativa para compreensão do problema

def flatten(list_of_lists):
    if len(list_of_lists) == 0:
        return list_of_lists
    if isinstance(list_of_lists[0], list):
        return flatten(list_of_lists[0]) + flatten(list_of_lists[1:])
    return list_of_lists[:1] + flatten(list_of_lists[1:])

list_07_flatten = flatten(list_07)
for i in range(len(list_07_flatten)):
  if list_07_flatten[i] == 6000:
    list_07_flatten.insert(i+1, 7000)

print(list_07_flatten)

[10, 20, 300, 400, 5000, 6000, 7000, 500, 30, 40]

In [145]:
'''SOLUÇÃO 2'''

for i in range(len(list_07)):
  if isinstance(list_07[i],list):
    sub_list_07 = list_07[i]
    for j in range(len(sub_list_07)):
      if isinstance(sub_list_07[j], list):
        sub_sub_lista_07 = sub_list_07[j]
        for z in range(len(sub_sub_lista_07)):
          if sub_sub_lista_07[z] == 6000:
            sub_sub_lista_07.insert(z+1, 7000)
      else:
        if sub_list_07[j] == 6000:
          sub_list_07.insert(j+1, 7000)
  else:
    if list_07[i] == 6000:
      list_07.insert(i+1, 7000)

print(list_07)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [147]:
'''SOLUÇÃO 3'''

test = map(lambda x :  isinstance(x, list), list_07)
test_0 = list(test)
for i in range(len(test_0)):
  if test_0[i] == True:
    test_1 = map(lambda x :  isinstance(x, list), list_07[i])
    test_1_0 = list(test_1)
    for j in range(len(test_1_0)):
      if test_1_0[j] == True:
        test_2 = map(lambda x :  isinstance(x, list), list_07[i])
        test_2_0 = list(test_2)
        for k in range(len(test_2_0)):
          if test_2_0[k] == True:
            test_3 = map(lambda x :  isinstance(x, list), list_07[i][j])
            test_3_0 = list(test_3) 
            list_07_01 = list_07[i][j]
            for z in range(len(list_07_01)):
              if list_07_01[z] == 6000:
                list_07_01.insert(z+1, 7000)
          else:
            if test_2_0[k] == 6000:
              test_2_0.insert(k+1, 7000)
      else:
        if test_1_0[j] == 6000:
                  test_1_0.insert(j+1, 7000)
  else:
    if test_0[i] == 6000:
                  test_0.insert(i+1, 7000)


print(list_07)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [173]:
'''SOLUÇÃO 4'''

list_07_final = list_07
list_07_final[2][2].append(7000)
print(list_07_final)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

##### Resultado esperado:
<pre>
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
</pre>

## **Dada uma lista aninhada, adicione a sub-lista ["h", "i", "j"] na posição correta**

In [65]:
lista_08  = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
sub_lista = ['h', 'i', 'j']

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [44]:
'''SOLUÇÃO 1'''

lista_08_1 = lista_08.copy()
for i in sub_lista:
  lista_08_1[2][1][2].append(i)
print(lista_08_1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [70]:
'''SOLUÇÃO 2'''

lista_08_2 = lista_08.copy()
for i in lista_08_2:
  if len(i) > 1:
    for j in i:
      if len(j) >1:
        for z in j:
          if len(z) > 1:
            for k in sub_lista:
              z.append(k)

print(lista_08_2)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

##### Resultado esperado:
<pre>
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
</pre>

## **Dada uma lista, encontre o valor 20 e, se estiver presente, substitua-o por 200. Atualize apenas a primeira ocorrência do valor**

In [152]:
lista_09 = [5, 10, 15, 20, 25, 50, 20]

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [149]:
'''SOLUÇÃO 1'''

for i in range(len(lista_09)):
  if lista_09[i] == 20:
    lista_09[i] = 200
    break
print(lista_09)

[5, 10, 15, 200, 25, 50, 20]

In [150]:
'''SOLUÇÃO 2'''

c = 0
for i in range(len(lista_09)):
  if c == 0 and lista_09[i] == 20:
    lista_09[i] = 200
    c += 1
print(lista_09)

[5, 10, 15, 200, 25, 50, 200]

In [153]:
'''SOLUÇÃO 3'''

first_index = [index for index, value in enumerate(lista_09) if value == 20][0]

lista_09[first_index] = 200

print(lista_09)

[5, 10, 15, 200, 25, 50, 20]

##### Resultado esperado:
<pre>
[5, 10, 15, 200, 25, 50, 20]
</pre>

# **Dicionários**

## **Converta as seguintes listas para dicionários**

In [154]:
chaves  = ['Dez', 'Vinte', 'Trinta']
valores = [10, 20, 30]

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [155]:
'''SOLUÇÃO 1'''

dict_final = {}
list_final = []
for i in range(3):
  list_final.append((chaves[i], valores[i]))
dict_final = dict(list_final)
print(dict_final)

{'Dez': 10, 'Vinte': 20, 'Trinta': 30}

In [158]:
'''SOLUÇÃO 2'''

dict_final_1 = {}
for i in range(3):
  dict_final_1.update({chaves[i] : valores[i]})

print(dict_final_1)

{'Dez': 10, 'Vinte': 20, 'Trinta': 30}

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30}
</pre>

## **Junte os seguintes dois dicionários Python em um só**

In [159]:
dicionario_01 = {'Dez' : 10, 'Vinte' : 20, 'Trinta' : 30}
dicionario_02 = {'Trinta' : 30 , 'Quarenta' : 40, 'Cinquenta' : 50}

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [161]:
'''SOLUÇÃO 1'''

dict_combined = {**dicionario_01, **dicionario_02}
print(dict_combined)

{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarenta': 40, 'Cinquenta': 50}

In [163]:
'''SOLUÇÃO 2'''

dict_combined_1 = dicionario_01.copy() 
dict_combined_1.update(dicionario_02)
print(dict_combined_1)

{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarenta': 40, 'Cinquenta': 50}

In [165]:
'''SOLUÇÃO 3'''

dict_combined_2 = dicionario_01.copy() 
dict_combined_2.update(dicionario_02.items())
print(dict_combined_2)

{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarenta': 40, 'Cinquenta': 50}

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarena': 40, 'Cinquenta': 50}
</pre>

## **Acesse o valor da chave "história" do dicionário abaixo**

In [72]:
dicionario_03 = { 
   "Turma":{ 
      "Aluno":{ 
         "Nome": "João",
         "Notas": { 
            "Física"  : 70,
            "História" : 80
         }
      }
   }
}

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [20]:
'''SOLUÇÃO 1'''

chave = input("Qual valor você quer obter? ")
print(dicionario_03["Turma"]["Aluno"]["Notas"][chave])

Qual valor você quer obter? História
80

In [74]:
'''SOLUÇÃO 2'''

import collections

def flatten(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = parent_key + sep + k if parent_key else k
        if isinstance(v, collections.MutableMapping):
            items.extend(flatten(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)


if __name__ == '__main__':
  func_flat = flatten(dicionario_03)
  sub_key = 'História'
  for k, v in func_flat.items():
    if sub_key in k:
      print(v)

80

In [178]:
'''SOLUÇÃO 3'''

import collections

def flatten(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = parent_key + sep + k if parent_key else k
        if isinstance(v, collections.MutableMapping):
            items.extend(flatten(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

subject = input("Qual valor você quer obter?")
dic_flat = flatten(dicionario_03)
for k, v in dic_flat.items():
  if subject in k:
    print(f'Valor da Matéria {subject} é {v}')

Qual valor você quer obter?História
Valor da Matéria História é 80

##### Resultado esperado:
<pre>
80
</pre>

## **Inicializar dicionário com valores padrão**

In [13]:
empregados     = ['Ana', 'Maria', 'João']
valores_padrao = {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [11]:
'''SOLUÇÃO 1'''

result_list = []
result_dict = {}
for i in range(3):
  result_list.append((empregados[i], valores_padrao))
result_dict = dict(result_list) 
print(result_dict)

{'Ana': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'Maria': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'João': {'Cargo': 'Desenvolvedor', 'Salário': 8000}}

In [12]:
'''SOLUÇÃO 2'''

data = {k: v for k, v in ((empregados[0], valores_padrao), (empregados[1],valores_padrao), (empregados[2],valores_padrao))}
print(data)

{'Ana': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'Maria': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'João': {'Cargo': 'Desenvolvedor', 'Salário': 8000}}

In [15]:
'''SOLUÇÃO 3'''

dictionary_final = {}
for i in range(3):
  dictionary_final[empregados[i]] = valores_padrao
print(dictionary_final)

{'Ana': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'Maria': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'João': {'Cargo': 'Desenvolvedor', 'Salário': 8000}}

##### Resultado esperado:
<pre>
{ 'Ana': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'Maria': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'João': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}
}
</pre>

## **Crie um novo dicionário extraindo as seguintes chaves de um dicionário abaixo**

In [26]:
dicionario_04 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

chaves_para_extrair = ['Nome', 'Salário']

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [21]:
'''SOLUÇÃO 1'''

sub_dict = {}
for k, v in dicionario_04.items():
  if k in chaves_para_extrair:
    sub_dict[k] = v

print(sub_dict)

{'Nome': 'Maria', 'Salário': 8000}

In [22]:
'''SOLUÇÃO 2'''

dict_2 = {}
for i in range(2):
  dict_2[chaves_para_extrair[i]] = dicionario_04[chaves_para_extrair[i]]
print(dict_2)

{'Nome': 'Maria', 'Salário': 8000}

In [28]:
'''SOLUÇÃO 3'''

dicionario_04_1 = dicionario_04.copy()
dict_variable = {key:value for (key,value) in dicionario_04_1.items() if key in chaves_para_extrair}
print(dict_variable)

{'Nome': 'Maria', 'Salário': 8000}

##### Resultado esperado:
<pre>
{'Nome': 'Maria', 'Salário': 8000}
</pre>

## **Exclua um conjunto de chaves de um dicionário**

In [23]:
dicionario_05 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

chaves_para_excluir = ['Nome', 'Salário']

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [24]:
'''SOLUÇÃO 1'''

dicionario_05_1 = dicionario_05.copy()
for i in chaves_para_excluir:
  del dicionario_05_1[i]

print(dict(sorted(dicionario_05_1.items())))

{'Cidade': 'São Paulo', 'Idade': 25}

In [92]:
'''SOLUÇÃO 2'''

dicionario_05_new = dicionario_05.copy()

for i in chaves_para_excluir:
  dicionario_05_new.pop(i)

print(dicionario_05_new)

{'Idade': 25, 'Cidade': 'São Paulo'}

In [40]:
'''SOLUÇÃO 3'''

def sorted(seq, lista):
    decorated = [(k,v) for i, (k,v) in enumerate(seq.items()) if k not in lista]
    # Sort using the normal tuple lexicographic comparisons
    decorated.sort()
    dict_decorated = dict(decorated)
    return dict_decorated

sorted(dicionario_05, chaves_para_excluir)

{'Cidade': 'São Paulo', 'Idade': 25}

In [57]:
'''SOLUÇÃO 4'''

from operator import itemgetter

dicionario_05_3 = dicionario_05.copy()
for i, (k, v) in enumerate(dicionario_05.items()):
    if k in chaves_para_excluir:
      del dicionario_05_3[k]

print(dicionario_05_3)

{'Idade': 25, 'Cidade': 'São Paulo'}

##### Resultado esperado:
<pre>
{'Cidade': 'São Paulo', 'Idade': 25}
</pre>

## **Verifique se o valor 200 existe no dicionário**

In [118]:
dicionario_06 = {'a' : 100, 'b' : 200, 'c' : 300}

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [94]:
'''SOLUÇÃO 1'''

if 200 in dicionario_06.values():
  print("True")

True

In [102]:
'''SOLUÇÃO 2'''

valor = lambda x: True if 200 in x.values() else None
print(valor(dicionario_06))

True

In [125]:
'''SOLUÇÃO 3'''

valor = lambda x: x in dicionario_06.values()
print(valor(200))

True

##### Resultado esperado:
<pre>
True
</pre>

## **Renomeie a chave Cidade para localização no seguinte dicionário**

In [60]:
dicionario_07 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [2]:
'''SOLUÇÃO 1'''

dicionario_07_1 = dicionario_07.copy()
dicionario_07_1['Localização'] = dicionario_07_1.pop('Cidade')
dicionario_07_1

{'Idade': 25, 'Localização': 'São Paulo', 'Nome': 'Maria', 'Salário': 8000}

In [6]:
'''SOLUÇÃO 2'''

dicionario_07_2 = dicionario_07.copy()
for k in dicionario_07_2.keys():
  if k == 'Cidade':
    dicionario_07_2['Localização'] = dicionario_07_2.pop('Cidade')
print(dicionario_07_2)

{'Nome': 'Maria', 'Idade': 25, 'Salário': 8000, 'Localização': 'São Paulo'}

In [64]:
'''SOLUÇÃO 3'''

dicionario_07_3 = dicionario_07.copy()

teste = {k:v for k,v in dicionario_07_3.items() if k != 'Cidade'}
teste.update({'Localização':v for k,v in dicionario_07.items() if k == 'Cidade'})
print(teste)

{'Nome': 'Maria', 'Idade': 25, 'Salário': 8000, 'Localização': 'São Paulo'}

##### Resultado esperado:
<pre>
{
  "Nome": "Maria",
  "Idade":25,
  "Salário": 8000,
  "Localização": "São Paulo"
}
</pre>

## **Obtenha a chave de um valor mínimo do seguinte dicionário**

In [8]:
dicionario_08 = {
  'Física'    : 82,
  'Matemática': 65,
  'História'  : 75
}

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [135]:
'''SOLUÇÃO 1'''

dicionario_08_1 = dicionario_08.copy()
min = 100
chave = ''
for k,v in dicionario_08.items():
  if min > v :
    min = v
    chave = k

print(chave)

Matemática

In [169]:
'''SOLUÇÃO 2'''

dicionario_08_2 = dicionario_08.copy()
list_val = []
for k,v in dicionario_08_2.items():
  list_val.append((k,v))
list_val.sort(key=lambda tup: tup[1])

print(list_val[0][0])

Matemática

In [11]:
'''SOLUÇÃO 3'''

dicionario_08_3 = list(dicionario_08.items())
x = sorted(dicionario_08_3, key=lambda grade: grade[1])
print(x[0][0])

Matemática

In [22]:
'''SOLUÇÃO 4'''

dicionario_08_4 = dicionario_08.copy()
dicionario_08_4_new = map(lambda x : x[0], (sorted(list(dicionario_08_4.items()), key=lambda grade: grade[1])))
print(list(dicionario_08_4_new)[0])

Matemática

##### Resultado esperado:
<pre>
Matemática
</pre>

## **Alterar o salário de João para 8500 em um determinado dicionário Python**

In [127]:
dicionario_09 = {
     'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
     'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
     'Empregado_3': {'Nome': 'João',  'Salário': 6500}
}

#########################################
#         Escreva o código aqui - Soluções abaixo
#########################################

In [128]:
'''SOLUÇÃO 1'''

dicionario_09_1 = dicionario_09.copy()
dicionario_09_1['Empregado_3']['Salário'] = 8500
print(dicionario_09_1)

{'Empregado_1': {'Nome': 'Ana', 'Salário': 7500}, 'Empregado_2': {'Nome': 'Maria', 'Salário': 8000}, 'Empregado_3': {'Nome': 'João', 'Salário': 8500}}

In [131]:
'''SOLUÇÃO 2'''

dicionario_09_2 = dicionario_09.copy()
for k_1,v_1 in dicionario_09_2.items():
  for k_2,v_2 in v_1.items():
    if v_2 == 'João':
      dicionario_09_2[k_1]['Salário'] = 8500

print(dicionario_09_2)

{'Empregado_1': {'Nome': 'Ana', 'Salário': 7500}, 'Empregado_2': {'Nome': 'Maria', 'Salário': 8000}, 'Empregado_3': {'Nome': 'João', 'Salário': 8500}}

##### Resultado esperado:
<pre>
'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
'Empregado_3': {'Nome': 'João',  'Salário': 8500}
</pre>